@-webkit-keyframes breath {
  0%   { transform: scale(1.4); }
  40% { transform: scale(1.5); }
  100% { transform: scale(1.4); }
}
@-moz-keyframes breath {
  0%   { transform: scale(1.4); }
  40% { transform: scale(1.5); }
  100% { transform: scale(1.4); }
}
@-o-keyframes breath {
  0%   { transform: scale(1.4); }
  40% { transform: scale(1.5); }
  100% { transform: scale(1.4); }
}
@keyframes breath {
  0%   { transform: scale(1.4); }
  40% { transform: scale(1.5); }
  100% { transform: scale(1.4); }
}

.pkmn
{
    -webkit-transition: all 1s ease infinite; /* Safari and Chrome */
    -moz-transition: all 1s ease infinite; /* Firefox */
    -ms-transition: all 1s ease infinite; /* IE 9 */
    -o-transition: all 1s ease infinite; /* Opera */
    transition: all 1s ease infinite;
	animation: breath 2s ease infinite;
}

.pkmnBlock
{
	vertical-align:top;
	display: inline-block;
	width:100px;
	height:110px;
}
