/* Roll animation */
@-webkit-keyframes roll {
  37% { transform: rotate(0deg); }
  40% { transform: rotate(1deg); }
  44% { transform: rotate(-2deg); }
  47% { transform: rotate(1deg); }
}
@-moz-keyframes roll {
  37% { transform: rotate(0deg); }
  40% { transform: rotate(5deg); }
  44% { transform: rotate(-7deg); }
  47% { transform: rotate(2deg); }
}
@-o-keyframes roll {
  37% { transform: rotate(0deg); }
  40% { transform: rotate(5deg); }
  44% { transform: rotate(-7deg); }
  47% { transform: rotate(2deg); }
}
@keyframes roll {
  37% { transform: rotate(0deg); }
  40% { transform: rotate(5deg); }
  44% { transform: rotate(-7deg); }
  47% { transform: rotate(2deg); }
}

/* Breath animation */
@-webkit-keyframes breath {
  0%   { transform: scale(1.4); }
  40% { transform: scale(1.5); }
  100% { transform: scale(1.4); }
}
@-moz-keyframes breath {
  0%   { transform: scale(1.4); }
  40% { transform: scale(1.5); }
  100% { transform: scale(1.4); }
}
@-o-keyframes breath {
  0%   { transform: scale(1.4); }
  40% { transform: scale(1.5); }
  100% { transform: scale(1.4); }
}
@keyframes breath {
  0%   { transform: scale(1.4); }
  40% { transform: scale(1.5); }
  100% { transform: scale(1.4); }
}

.breath
{
	animation: breath 2s ease infinite;
}

.roll
{
	transform-origin: bottom;
	animation: roll 10s ease infinite;	
}

.shrink
{
	transition: all 1s
	transform: scale(1);
}

.pkmnBlock
{
	vertical-align:top;
	display: inline-block;
	width:100px;
	height:110px;
}
